[submodule "themes/lekh"]
	path = themes/lekh
	url = https://github.com/invinciblycool/lekh
[submodule "themes/Binario"]
	path = themes/Binario
	url = https://github.com/Vimux/Binario
[submodule "themes/hugo-theme-zzo"]
	path = themes/hugo-theme-zzo
	url = https://github.com/zzossig/hugo-theme-zzo
